<h1>Edit Task</h1>
<div class="edit-task-form">
  <%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit class: 'btn btn-primary'%>
  <% end %>
  <ul>

</div>


<%= link_to "Back to list", tasks_path %>
